// Google font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
// End of Google font
$soft-cyan: hsl(174, 77%, 80%);
$strong-cyan: hsl(174, 86%, 45%);
$light-grayish-red: hsl(14, 92%, 95%);
$light-red: hsl(15, 100%, 70%);
$pale-blue: hsl(226, 100%, 87%);
//Neutral
$very-pale-blue: hsl(230, 100%, 99%);
$light-grayish-blue: hsl(223, 50%, 87%);
$grayish-blue: hsl(225, 20%, 60%);
$dark-desaturated-blue: hsl(227, 35%, 25%);

// Font
$manrope: Manrope, "sans-serif";
@mixin heading {
  text-align: center;
  margin-bottom: 0.5rem;
}
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
